//Button
$btn-border-radius: 0;

// Color
$primary: #43986a;
$white: #fff;
$black: #000;

//Container
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);

// Contrast
$min-contrast-ratio: 3.53;

// Font
$font-size-base: 1rem;
$font-family-sans-serif: 'Lato', sans-serif;

// scss-docs-end font-variables

// scss-docs-start font-sizes
$font-sizes: (
  1: $font-size-base * 2.5,
  2: $font-size-base * 2,
  3: $font-size-base * 1.75,
  4: $font-size-base * 1.5,
  5: $font-size-base * 1.25,
  6: $font-size-base * 1.125,
  7: $font-size-base,
  8
  : $font-size-base * 0.875,
);

//Spacer
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 2,
  6: $spacer * 3,
  7: $spacer * 4.375,
);

//Table
$table-accent-bg: rgba($white, 0.2);
$table-striped-bg: rgba($primary, 0.2);
