.title {
	font-weight: 700;
	font-size: 48px;
	line-height: 65.33px;
	text-align: center;
	color: #ffffff;
	letter-spacing: 10px;
	top: 70px;
}

.timer {
	font-family: Lato;
	font-weight: 400;
	font-size: 64px;
	line-height: 76.8px;
	color: #ffffff;
	letter-spacing: 20px;
	width: 1037px;
}

.subtimer {
	color: #ffffff;
	font-size: 25px;
	letter-spacing: 9px;
	padding-top: 150px;
}

@media (max-width: 520px) {
	.title {
		font-size: 30px;
		letter-spacing: 2px;
		line-height: 20px;
	}

	.timer {
		font-size: 35px;
		letter-spacing: 2px;
		width: 400px;
	}
	.subtimer {
		font-size: 15px;
		letter-spacing: 1px;
		padding-top: 105px;
	}
}

@media (min-width: 520px) {
	.title {
		font-size: 30px;
		letter-spacing: 2px;
		line-height: 20px;
	}

	.timer {
		font-size: 35px;
		letter-spacing: 2px;
		width: 400px;
	}

	.subtimer {
		font-size: 15px;
		letter-spacing: 1px;
		padding-top: 115px;
	}
}

@media (min-width: 950px) {
	.title {
		font-weight: 700;
		font-size: 48px;
		line-height: 65.33px;
		text-align: center;
		color: #ffffff;
		letter-spacing: 10px;
		top: 70px;
	}

	.timer {
		font-family: Lato;
		font-weight: 400;
		font-size: 64px;
		line-height: 76.8px;
		color: #ffffff;
		letter-spacing: 20px;
		width: 1037px;
	}

	.subtimer {
		color: #ffffff;
		font-size: 25px;
		letter-spacing: 9px;
		padding-top: 150px;
	}
}
